
/* hero slider start */
.slide-1{
    background-image: url(../img/pexel-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    color: white;
}
.slide-1::after{
    content: "";
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50px;
}
.slide-2{
    background-image: url(../img/pexels-7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
}
.slide-2::after{
    content: "";
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50px;
}
.carousel-item{
    position: absolute;
}
.carousel-content {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    /* margin:aut o; */
    top: 45%;
    /* left: 40%; */
    z-index: 1;
  }
  /* hero slider end */

  /* hero about start */
#about{
  background-color:  #061324;
  padding: 100px 0px;
  font-family: 'Roboto Slab', serif;
}

.about-text{
  font-family: 'Roboto ', serif;
  
}

/* hero about end */

/*** mission & vission start ***/
#vision{
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'Roboto Slab', serif;
}
.fa-solid{
  color: blue;
  font-size: 16px;
}

.vision-p{
  font-weight: 400;
  font-size: 14px;
  color: #505050;
  font-family: Roboto, sans-serif;;
  line-height: 21px;
}
.card-hover:hover {
 border: 1px solid blue;
 
}

/* hero mission & vission end */

/* hero working start */
  #skill{
    margin: 100px 0px 0px 0px;
    padding: 50px 0px;
    background-color: #040911;
    font-family: 'Roboto Slab', serif;
}

.skils-h2{
    font-size: 45px;
}
.skils-p{
    font-family: 'Roboto', serif;
}
/* hero working end */

/*===== institute ======*/

#institute{
  background-color: #061324;
  font-family: 'Roboto Slab', serif;
  padding-top: 50px;
  padding-bottom: 20px;
}

.card-scale{
  transition: 0.5s;
  font-size: 14px;
  font-weight: 400;
}

.card-scale:hover{
  transform: scale(1.04);
 
}


/* ================the-GROWTH start================ */
.icon-GROWTH {
  color: #003E8A;
}
#growth {
  background-image: url(../img/bg-image.jpg);
  width: 100%;
  height: 54vh;
  background-position: 100%;
  background-size: cover;
  color: white;
  position: relative;
  

}
#growth::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 54vh;
  top: 0;
}

/*========================== footer ==========================*/
#footer {
  background-color: #061324;
  padding-top: 30px;
}
.footer-h1 {
  color: #fff;
  font-family: 'PT Serif', serif;
}
.footer-p {
  color: #fff;
  font-size: 16px;
}
.footer-h3 {
  color: #fff;
}
.footer-icon {
  background-color: #042dc2;
  padding: 10px 10px;
  border-radius: 5px;
  color: #fff;
  margin: 0px 5px;
  font-size: 20px;
}
.footer-icon:hover {
  background-color: #175cff;
}
hr {
  /* color: #fff; */
  border: 2px solid white;
}


/* ===============footer end=============== */



/*======== Media Queries ===========*/
  
@media screen and (max-width:768px){

}

@media screen and (min-width:768px)and (max-width:1024px){

}
@media screen and (min-width:1024px){
    
}